:root {
    --default-font-color: rgba(220, 220, 220, 1);
    --default-background-color: rgba(0, 0, 0, 1);
    --primary-container-background-color: rgba(5, 5, 5, 1);
    --default-container-background-color: rgba(10, 10, 10, 1);

    --default-font-size: 1.2rem;
    --title-font-size: 2rem;
    --context-font-size: 0.8rem;

    --default-container-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --default-button-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 3px 0px, rgba(255, 255, 255, 0.06) 0px 1px 2px 0px;

    --default-button-background-color: rgba(10, 10, 10, 1);
    --button-color-hovered: rgba(20, 20, 20, 1);
    --button-color-activated: rgba(25, 25, 25, 1);
    --button-font-color: rgba(25, 25, 25, 1);
    --color-picker-background-color: rgb(40, 40 , 40);

    --input-background-color: rgba(30, 30, 30, 1);
    --input-border-color: rgba(50, 50, 50, 1);
    --input-placeholder-color: rgba(150, 150, 150, 1);
    
    --input-font-size: 0.8rem;
    --focus-input-border-color: rgb(180, 180, 180);
    --input-box-shadow: 0 0 6px rgb(180, 180, 180);
}

button {
    background-color: var(--default-button-background-color);
    color: var(--default-font-color);
    box-shadow: var(--button-box-shadow);
}

button:hover {
    background-color: var(--button-color-hovered);
}
